# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
api_test_server.log
api_test_server.pid
# OS
.DS_Store

# Tests
/coverage*
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Others
.env
firebaseAccountKey.json
.firebase/hosting.**

# public/docs
public/docs/swagger-*.json
public/docs/swagger.json
public/docs/combined.html

views/api-docs/index.md
views/api-docs/slate/css/print.css
views/api-docs/slate/css/screen.css

src/storage
documentation

acm-stats
backups
central-api-server.code-workspace
insurerity-docs
dump
expirements
dump.*
dumps/
backup.sql
migrate-db.sh
missing-transactions*.csv
tools/company-onboarding-appscript/node_modules
tools/company-onboarding-appscript/build
tools/company-onboarding-appscript/tsconfig.tsbuildinfo
queries.sh

.cache
.mypy_cache
docker/*

# Test files
*.xlsx

**/__pycache__/**
*dump.sql
__pycache__

# local env files
.env
.env.local
.env.*.local
.env.*
.venv

# python cache files
.mypy_cache
