APP_ENV="local"

AWS_USER_POOL_ID=us-west-2_3evpQGyi5
AWS_USER_POOL_CLIENT_ID=115fkn7c7089gveb3f2n0rop4a

DB_HOST=localhost
DB_PASSWORD=
DB_USER=postgres
DB_NAME=amplio_dashboard

DYNAMODB_URL=http://localhost:8500
