APP_ENV="local"

# aws
AWS_USER_POOL_ID=
AWS_USER_POOL_CLIENT_ID=

# s3
S3_WEBSITE_MEDIA_BUCKET=
S3_DB_BACKUP_BUCKET=

DB_HOST=localhost
DB_PASSWORD=
DB_USER=postgres
DB_NAME=amplio_dashboard
DB_ECHO=True

TABLEAU_SECRET_ID=
TABLEAU_SECRET_ID=
TABLEAU_SECRET_VALUE=

DYNAMODB_URL=http://localhost:8500

STATISTICS_DATA_DIR="~/acm-stats"
WEBSITE_MEDIA_DIR=
