[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
mangum = "*"
sentry-sdk = "*"
sqlalchemy = "*"
pydantic = "*"
python-jose = "3.3.0"
uvicorn = "*"
fastapi = "*"
python-json-logger = "*"
psycopg2 = "*"
python-dotenv = "*"
openpyxl = "*"
python-multipart = "*"
pg8000 = "*"
requests = "*"
alembic = "*"
sqlalchemy-easy-softdelete = "*"
pydantic-settings = "*"

[dev-packages]
black = "*"
httpx = "*"
pytest = "*"
moto = {extras = ["all"], version = "*"}
types-python-jose = "*"
types-psycopg2 = "*"
pyright = "*"
types-python-dateutil = "*"
boto3-stubs = "*"
types-requests = "*"

[requires]
python_version = "^3.11"
